---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import About from '@/sections/About.astro'
import Skills from '@/sections/Skills.astro'
import Projects from '@/sections/Projects.astro'
import Contact from '@/sections/Contact.astro'
---

<Layout title="Lucas Pichon">
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Contact />
  </main>
</Layout>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-B1EJZW6M3K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B1EJZW6M3K');
</script>
